In [1]:
#pip install yfinance

In [2]:
import pandas as pd
import datetime
import pandas_datareader.data as web
from pandas import Series, DataFrame


start = datetime.datetime(2021, 1, 1)
end = datetime.datetime(2022, 12, 31)

df = web.DataReader(['TSLA','F'], 'yahoo', start, end)
df.tail()

Attributes   Adj Close                  Close                  High  \
Symbols           TSLA          F        TSLA          F       TSLA
Date
2022-02-02  905.659973  20.629999  905.659973  20.629999  931.50000
2022-02-03  891.140015  19.889999  891.140015  19.889999  937.00000
2022-02-04  923.320007  17.959999  923.320007  17.959999  936.50000
2022-02-07  907.340027  17.889999  907.340027  17.889999  947.77002
2022-02-08  901.684998  17.261000  901.684998  17.261000  915.00000

Attributes                    Low                   Open             \
Symbols             F        TSLA          F        TSLA          F
Date
2022-02-02  21.049999  889.409973  20.180000  928.179993  20.809999
2022-02-03  20.620001  880.520020  19.870001  882.000000  20.170000
2022-02-04  18.590000  881.169983  17.520000  897.219971  18.520000
2022-02-07  18.120001  902.710022  17.700001  923.789978  17.730000
2022-02-08  17.584999  894.809998  17.020000  905.530029  17.575001

Attributes      Volume
Symbols           TSLA            F
Date
2022-02-02  22264300.0   95377600.0
2022-02-03  26285200.0  103016000.0
2022-02-04  24472600.0  210803400.0
2022-02-07  20271200.0   83646000.0
2022-02-08   4902097.0   45490940.0